body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(headphones_hero_1.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  
  .header {
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
  }
  
  .header-logo img {
    display: block;
  }
  
  
  .navbar-menu {
    display: flex;
  }
  
  .nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 50px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .nav-link:hover {
    color: #FF6565;
  }

  
  
  .section-hero {
    background-position: center;
    color: #fff;
    padding: 180px 0;
  }
  
  .section-inner {
    max-width: 637px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title-1 {
    font-size: 32px;
    margin-top: 80px;
  }
  
  .section-title-2 {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF6565;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 1.375rem;
    margin-top: 20px;

  }
  
  .button:hover {
    background-color: #fc5858;
  }
  
  p {
    margin-top: 50px;
  }
  
       /*  "What we do" section */
  
  
  .section-what {
    background-position: center;
    background-color: white;
    color: #fff;
    padding: 180px 0;
  }
  
  .section-header {
    max-width: 637px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .section-title {
    color: black;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: -80px;
    text-align: center;
  }
  
  .section-text {
    color: black;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .section-icons {
    text-align: center;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .section-icons .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -280px;
  }
  
  .icon {
    margin: 0 10px;
    font-size: 70px;
    font-family: 'holberton_school-icon';
    color: #FF6565;
  }
  
  .icon-title {
    font-size:18px;
  }
  
  .icon.text {
    font-size: 4px;
    margin-right: 20px;
    word-wrap: break-word;
  }


/* "Our results" section */

.section-results {
  background-image: url(headphones_hero_2.jpg);
  padding: 2rem 2rem;
}

.container-results {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  max-width: 62.5rem;
  margin: auto;
  padding-bottom: 2rem;
}

.container-results h1 {
  color: white;
  font-size: 32px;
  text-align: center; 
  margin:3rem 0;
}

.container-results p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5rem;
  margin-left: 150px;
  margin-right: 150px;
} 

.container-pent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card {
  position: relative;
  overflow: hidden;
}

.card h2 {
  margin: 15px;
  font-size: 2.88rem;
  font-weight: 600;
  line-height:  1.625rem;
  margin-bottom: -20px;
}

.card p {
  font-size: 14px;
  margin-left: -30px;
  margin-right: -30px;
}

.card-pent {
position: relative;
width: 10rem;
height: 9.75rem;
background: #FF6565;
clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}
.card-text {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* - "contact us" Section  */

.section-contact {
    background-color: white;
    padding: 5rem 1rem;
  }
  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .container-contact h1 {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .inputs-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
  }
  .inputs-contact .input {
    margin: 1rem 0;
    height: 2rem;
    border: none;
    border-bottom: 1px solid rgb(155, 155, 155);
  }
  
  .inputs-contact .input:focus {
    outline: none;
    border-bottom: 1px solid rgb(155, 155, 155);
  }
  
  .submit-section {
    background-color: #FF6565;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    width: 10rem;
    height: 2.7rem;
    margin: 3rem;
    border: none;
    border-radius: 1.375rem;
    cursor: pointer;
    transition: background-color 1s ease, opacity 0.3s ease;
  }
  
  .submit-section:hover, .submit-section:active {
    background-color: #FF6565;
    opacity: 0.9;
  }
